.slider {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider::-webkit-scrollbar {
  display: none;
}
